


 body {
   margin: 20;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
 }
 
 .topnav {
   overflow: hidden;
   background-color: rgb(82, 82, 82);
   position: fixed;
   top: 5;
  width: 99.45%;
  margin: 0;
  padding: 0;
  
   
 }
 
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 30px 35px;
   text-decoration: khaki;
   font-size: 35px;
   
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
   
 }
 
 .topnav a.active {
   background-color: #4CAF50;
   color: white;
 }

 .topnav a.active2 {
  background-color: rgb(11, 240, 18);
  color: white;
}
 
.topnav a.active3 {
  background-color: rgb(24, 107, 27);
  color: white;
}
*{
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
background-color: #666;
padding: 30px;
text-align: center;
font-size: 40px;
color: white;
}



/* Create two columns/boxes that floats next to each other */
nav {
float: left;
width: 30%;
height: 600px; /* only for demonstration, should be removed */
background: #ccc;
padding: 50px;
}



/* Style the list inside the menu */
nav ul {
list-style-type: none;
padding: 0;
}

article {
float: left;
padding: 20px;
width: 70%;
background-color: #f1f1f1;
height: 600px; /* only for demonstration, should be removed */
font-size: 30px;
}

/* Clear floats after the columns */
section:after {
content: "";
display: table;
clear: both;
}

/* Style the footer */
footer {
background-color: #777;
padding: 20px;
text-align: center;
color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
nav, article {
width: 100%;
height: auto;
}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


article h2 { 
  background-color: rgb(126, 201, 128);
padding: 10px;
text-align: center;
font-size: 30px;
color: white;
}


.topnav span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}


ul {
  background: #ffffff;
  padding: 10px;
}


ul li {
  background: #ffffff;
  margin: 2px;
}

div.a {
  text-align: center;
}

